.messenger-container {
  display: flex;
  height: 85vh;
  font-family: Arial, sans-serif;
}

.chat-tabs {
  width: 250px;
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.chat-tabs ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat-tabs li {
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  background-color: white;
  transition: background-color 0.3s ease;
}

.chat-tabs li:hover {
  background-color: #e6e6e6;
}

.chat-view {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.chat-header {
  padding: 15px;
  background-color: #007bff;
  color: white;
  border-bottom: 1px solid #ccc;
}

.chat-messages {
  flex-grow: 1;
  padding: 15px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.message-group {
  margin-bottom: 10px;
}

.message {
  background-color: #e1e1e1;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 15px;
  border-top: 1px solid #ccc;
  background-color: white;
}

.chat-input input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.send-btn {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-btn i {
  font-size: 16px;
}

.send-btn:hover {
  background-color: #0056b3;
}
.page-title{
  color: #1d3469;
  font-size: 42px;
  font-weight: 700;
}












        